[alias]
    pnb =  push -u origin HEAD
    st = status
    cm = commit -m
    br = branch
    co = checkout
    com = checkout master
    cow = checkout working
    pum = pull upstream master
    pshum = push upstream master
    a = !git add . && git add -u
    reb = rebase master
    df = diff
    mt = mergetool
    rebc = rebase --continue
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)- %an%Creset' --abbrev-commit --date=relative   
	new = log master.. --oneline --decorate --reverse
[core]
	excludesfile = /Users/rauhryan/.gitignore_global
	editor = vim
[user]
    name = Ryan Rauh
    email = rauh.ryan@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[merge]
    keepBackup = false;
    tool = vimdiff
[mergetool "bcomp"]
  trustExitCode = true
  cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[color]
	ui = true


[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
